.ItemListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black !important;
}
/* .ItemListContainer img{
    width: 1600px !important;
    height: 1600px !important;
} */