/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 */

 .flexContain{
  display: flex;
  flex-wrap: wrap;
  
  background-color: #0c5;
  justify-content: space-evenly;
 }
 .flexContain__div{
  background-color: #fc0;
margin: 15px;
  width: 300px;
}
 .flexContain h3{
  font-size: 15px;
 }
 .flexContain img{
  /* margin-left: 70px; */
  width: 100%;
  height: 100%;
 }
 .flexContain p{
  color: #0c5;
 }

.imgs, .vamos{
  display: inline-block
}
.imgs{
  width: 17 0px;
  height: 150px;
}